{% extends "accounts/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-5">
                <div class="mt-5">
                    {% if messages %}
                        {% for message in messages %}
                            <div class="alert alert-{{ message.tags }}">
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
                <div class="card shadow-lg border-0 rounded-lg ">
                    <div class="card-header"><h3 class="text-center font-weight-light my-4">Login</h3></div>
                    <div class="card-body">
                        <form method="POST">
                            {% csrf_token %}

                            <fieldset class="form-group">
                                {{ form|crispy }}
                            </fieldset>

                            <div class="form-group">
                                <button type="submit" class="btn btn-primary ms-auto">Login</button>
                            </div>
                        </form>
                    </div>
                    <div class="card-footer text-center">
                        <div class="small"><a href="{% url 'sign_up' %}">Need an account? Sign up!</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}